body{
  margin:0px;
  padding:0px;
  background-color:hsl(0, 0%, 98%);
  font-family:"Poppins", sans-serif;
}

p{
  font-size:15px;
  color:hsl(229, 6%, 66%);
  font-weight: 400;
}

h1,h3{
  color:hsl(234, 12%, 34%);
}

h1{
  font-weight:600;
  margin:0px;
}

main h1:first-child{
  font-weight: 200;
}

.top-class{
  text-align:center;
}

.card-container{
  display:flex;
  justify-content:center;
  align-items:center;
  column-gap: 25px;
  margin-top:60px;
}

.card-class{
  background-color:white;
  width:20em;
  padding:30px;
  border-radius:10px;
  box-shadow:0px 3px 10px rgba(0,0,0,0.2);
}

.heading-class{
  margin-top:0px;
}

.image-class{
  margin-top:35px;
}

.card1-container{
  display:flex;
  flex-direction:column;
  row-gap:25px;
}

#card1-class{
  border-top:5px solid hsl(180, 62%, 55%);
}

#card2-class{
  border-top:5px solid hsl(0, 78%, 62%);
}

#card3-class{
  border-top:5px solid hsl(34, 97%, 64%);
}

#card4-class{
  border-top:5px solid hsl(212, 86%, 64%);
}

.image{
  display:flex;
  justify-content: end;
}